./idp-ui/public
./idp-ui/.next
./idp-ui/.env.local
./idp-ui/.env.*
./idp-ui/node_modules

./static-page/public
./static-page/.next
./static-page/.env.local
./static-page/.env.*
./static-page/node_modules
./user-manage-service/

./user-manage-service/public
./user-manage-service/.next
./user-manage-service/.env.local
./user-manage-service/.env.*
./user-manage-service/node_modules

./react-page/node_modules